<form class="flex flex-col gap-4">
  @for (resource of resources(); track $index) {
  <p-panel [header]="config().translations.resourceKey + '.' + resource.resource | translate">
    <ng-template #icons>
      <div class="flex items-center justify-between mb-3">
        <!-- Checkbox para seleccionar todo el recurso -->
        <div class="flex items-center cursor-pointer" role="group">
          <p-checkbox
            [ngModel]="areAllResourcePermissionsSelected(resource)"
            [indeterminate]="
              isSomeResourcePermissionSelected(resource) &&
              !areAllResourcePermissionsSelected(resource)
            "
            [ngModelOptions]="{ standalone: true }"
            (onChange)="toggleResourcePermissions(resource, $event.checked)"
            [binary]="true"
            class="text-sm text-gray-600"
          >
          </p-checkbox>
          <span class="ml-2">{{ 'common.selectAll' | translate }}</span>
        </div>
      </div>
    </ng-template>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 ml-4">
      @for (permission of resource.permissions; track permission.id) {
      <div class="flex items-center cursor-pointer" role="group">
        <p-checkbox
          [ngModel]="isPermissionSelected(permission.id)"
          (onChange)="onPermissionToggle(permission.id, $event.checked)"
          [ngModelOptions]="{ standalone: true }"
          [binary]="true"
          class="flex items-center"
        >
        </p-checkbox>
        <span class="ml-2">{{
          config().translations.permissionNameKey + '.' + toCamelCase(permission.name) | translate
        }}</span>
      </div>
      }
    </div>
  </p-panel>
  }
</form>

<app-unsaved-changes-dialog (save)="savePermissions()" (discard)="resetPermissions()" />
